html {
  background-color: #018281;
}

.taskbar {
  position: fixed;
  bottom: 0% !important;
  width: 100% !important;
  top: unset !important;

  .menu {
    position: absolute;
    left: 0;
    bottom: 100%;
  }
}
