.window-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.close-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: -1px;
  margin-top: -1px;
  transform: rotateZ(45deg);
  position: relative;
  &:before,
  &:after {
    content: "";
    position: absolute;
    background: black; /* TODO faire en fonction du theme*/
  }
  &:before {
    height: 100%;
    width: 3px;
    left: 50%;
    transform: translateX(-50%);
  }
  &:after {
    height: 3px;
    width: 100%;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
  }
}
.window {
  width: 400px;
  min-height: 200px;
}
.window:nth-child(2) {
  margin: 2rem;
}
.footer {
  display: block;
  margin: 0.25rem;
  height: 31px;
  line-height: 31px;
  padding-left: 0.25rem;
}

.window-small {
  max-width: 25%;
  width: 25%;
}

.window-medium {
  max-width: 50%;
  width: 50%;
}

.window-large {
  max-width: 75%;
  width: 75%;
}

.window-xlarge {
  max-width: 100%;
  width: 100%;
}

.focused {
  z-index: 99 !important;
}

.unfocused {
  z-index: 1 !important;
}
